<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/> -->
    <title>Music Tagging: {% block title %}{% endblock %}</title>
</head>
<style>

</style>
<body>
    <div class="container">
        <div id="navbar">
            <h1>Music Tagging</h1>
        </div>
        <div class="content">
            {% block main %}{% endblock %}
        </div>
        {% if get_flashed_messages() %}
            <div class="alert" role="alert">
                {{ get_flashed_messages() | join(" ") }}
            </div>
        {% endif %}
    </div>
    <footer>
        Mini project - Drishti
    </footer>
</body>
</html>